---
layout: default
title: Home
---

<div class="page__content">
  <div class="center">
    {% include banner.html %}
    <br>
    <br>
    <br>
    {% include arrow.html %}
  </div>
</div>

<div class="page__splash page__splash--blue">
  <div class="color-overlay"></div>
  <div class="page__splash-text">
    <p>Mi propuesta de entrenamiento consiste en la implementación de actividades físicas eficientes y programas de clases
    personalizadas previamente planificadas con un alto nivel de creatividad para que avances rápidamente hacia la
    consecución de tus metas.</p>
  </div>
</div>

<div class="page__splash">
  <div class="page__splash-text page__splash-text__dark center">
    <p>
      Como <strong>coach</strong> cuento con un excelente liderazgo y plan de acción, altamente capacitado para acompañarte en cada paso de tu proceso; no importanta cuales Sean tus objetivos, yo te daré la clave para que juntos logremos superarlos.
    </p>
  </div>
</div>
