<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="5%" height="100%" viewBox="0 0 32 26" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-miterlimit:10;">
  <g transform="matrix(1,0,0,1,-160.673,-179.175)">
    <g transform="matrix(1,0,0,1,182.775,194.98)">
      <path d="M0,-6.298L-6.298,0L-12.595,-6.298"
        style="fill:none;fill-rule:nonzero;stroke:rgb(0,65,255);stroke-width:1.89px;" />
    </g>
  </g>
</svg>
